/*
[data-player-element=response-wrapper-cm] [type=checkbox]:checked, [data-player-element=response-wrapper-cm] [type=checkbox]:not(:checked)
{
	visibility: visible !important;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked
{
	position: inherit !important;
	opacity:1 !important;
}

input[type="checkbox"]
{
	display: inline !important;
}
*/